{% load static %}
{% load bootstrap3 %}
{% load compress %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{rundata.name}} - Fusion SH</title>
        <link rel="shortcut icon" type="image/png" href="{% static "images/favicon.png" %}"/>
       
        {% compress css %}
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
        <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">
        <link rel="stylesheet" href="{% static 'css/runs.css' %}">

        {% endcompress %}

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="{% static "js/html5shiv.js" %}"></script>
        <script src="{% static "js/respond.min.js" %}"></script>
        <![endif]-->

    </head>


{% block content %}

<script src="{% static 'js/gen_validatorv4.js' %}"></script>

<script src="https://maps.googleapis.com/maps/api/js"></script>
<style type="text/css">
header{
  padding: 50px 0px 0px 0px;
  height: 460px;
  background: url({{ MEDIA_URL }}{{rundata.banner}});
  background-color: white!important;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.leparc {
  /*padding: 50px 0px 0px 0px;*/
  height: 460px;
  background: url({{ MEDIA_URL }}{{rundata.banner2}});
  background-color: white!important;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

</style>

<section class="sponsors">
  <div class="row">
    <h1>{{runnerdata.firstname}} {{runnerdata.lastname}} Se Registro Correctamente.</h1>
  </div>
</section>




<!-- HEADER
     ================================================== -->	  
<header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src='{{ MEDIA_URL }}{{rundata.logotype}}' class='logo'>
        <p class="lead">{{rundata.date_text}}</p>
      </div>	  
    </div>    
  </div>
</header>

<!-- SOCIAL
       ================================================== -->
<section class="social">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Conectá con nosotros</h2>
	<a href="https://www.facebook.com/entrenamiento.sanluis"><i class="fa fa-facebook"></i></a>
	<a href="https://twitter.com/fusionshsl"><i class="fa fa-twitter"></i></a>
      </div>
    </div>
  </div>	  
</section>

{% compress js %}
        <script src="{% static "js/modernizr-latest.js" %}"></script>
        <!-- jQuery -->
        <script src="{% static 'js/jquery-1.9.1.js' %}"></script>
        <!-- Bootstrap -->
        <script src="{% static 'js/bootstrap.js' %}"></script>
{% endcompress %}

{% endblock %}
