{% load static %}
{% load bootstrap3 %}
{% load compress %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Fusion SH</title>

        {% compress css %}
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/css/bootstrap-datepicker.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.5/css/bootstrap-select.min.css">
        <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">
        <link rel="stylesheet" href="{% static 'css/runs.css' %}">

        {% endcompress %}

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="{% static "js/html5shiv.js" %}"></script>
        <script src="{% static "js/respond.min.js" %}"></script>
        <![endif]-->

    </head>


{% block content %}

<script src="{% static 'js/gen_validatorv4.js' %}"></script>

<script src="https://maps.googleapis.com/maps/api/js"></script>
<script> 
function initialize() {
  var mapCanvas = document.getElementById('map');
  var mapCenter = new google.maps.LatLng(-33.2331247,-66.2264154);
  var mapOptions = {
        center: mapCenter,
        zoom: 16,
        scrollwheel: false,
        mapTypeId: google.maps.MapTypeId.ROADMAP
  }

  var map = new google.maps.Map(mapCanvas, mapOptions);

  var marker = new google.maps.Marker({
      position: mapCenter,
      map: map,
      title: 'Parque Nativo'
  });
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>

<style type="text/css">
header{
  padding: 50px 0px 0px 0px;
  height: 460px;
  background: url({{ MEDIA_URL }}{{rundata.banner}});
  background-color: white!important;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.leparc {
  /*padding: 50px 0px 0px 0px;*/
  height: 460px;
  background: url({{ MEDIA_URL }}{{rundata.banner2}});
  background-color: white!important;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
</style>

<!-- HEADER
     ================================================== -->	  
<header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src='{{ MEDIA_URL }}{{rundata.logotype}}' class='logo'>
        <p class="lead">{{rundata.date_text}}</p>
      </div>	  
    </div>    
  </div>
</header>


<!-- CALL FOR CHARLAS
        ================================================== -->
<section class="features">
  <div class="container">
    <div class="row">
      <h1>FUSION</h1>
      <p class="lead">(mente+cuerpo)</p>
    </div>
  </div>
</section>

<section class="purchase">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <h1>¿Hasta cuándo hay tiempo?</h1>
        <p class="lead">Hasta el <b>{{rundata.date_limit}}</p>
        </br>
        <h1>Qué requerimientos debe respetar?</h1>
        <p class="lead">{{rundata.description}}</p>
	{% if rundata.price %}
	<p class="lead"><b>Precio:</b> ${{rundata.price}}</p>
	{% endif %}
	{% if rundata.payment_method %}
	<p class="lead"><b>Forma de Pago:</b> {{rundata.payment_method}}</p>
	{% endif %}
	{% if rundata.payment_place %}
	<p class="lead"><b>Lugar de Pago:</b> {{rundata.payment_place}}</p>
	{% endif %}
	<p class="lead"><b>Distancias:</b><br />1 Etapa hasta el {{rundata.date_stage}}<br />2 Etapa hasta el {{rundata.date_stage2}}<br /><br /> {% for distance in rundata.distances.all %}{{ distance }}<br />{% if not forloop.last %} {% endif %}{% endfor %}</p>
 	{% if rundata.medical_record %}
	<a target="_blank" href="{{ MEDIA_URL }}{{rundata.medical_record}}" class="btn btn-lg btn-info">Ficha Medica</a></br></br>
	{% endif %}
	{% if rundata.demarcation %}
	<a target="_blank" href="{{ MEDIA_URL }}{{rundata.demarcation}}" class="btn btn-lg btn-info" >Deslinde de Responsabilidades</a></br></br>
	{% endif %}
	{% if rundata.travel %}
	<a target="_blank" href="{{ MEDIA_URL }}{{rundata.travel}}" class="btn btn-lg btn-info">Recorrido</a></br></br>
	{% endif %}
	{% if rundata.regulation %}
	<a target="_blank" href="{{ MEDIA_URL }}{{rundata.regulation}}" class="btn btn-lg btn-info">Reglamento</a></br></br>
	{% endif %}
	{% if rundata.how_to_get %}
	<a target="_blank" href="{{ MEDIA_URL }}{{rundata.how_to_get}}" class="btn btn-lg btn-info">Como llegar?</a></br></br>
	{% endif %}
	{% if rundata.accommodation %}
	<a target="_blank" href="{{ MEDIA_URL }}{{rundata.accommodation}}" class="btn btn-lg btn-info" >Alojamientos</a></p>
	{% endif %}

      </div>
    </div>
  </div>
</section>

<section class="sponsors">
    <div class="row">
    {% if rundata.state != 4 %}
    <h1>¿Querés participar?</h1>
               {% if rundata.state == 1 %}
               <div class="col-md-4"></div>	
               <div class="col-md-4">
                    <form id="prueba" action="." method="post" class="form">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-primary">Registrarse</button>
                    </form>
                </div>
               <div class="col-md-4"></div>	
               {% elif rundata.state == 2 %}
               <button type="button" class="btn disabled" data-toggle="modal" data-target="#inscripcion">Sin Cupos</button>
               {% else %}
               <button type="button" class="btn btn-primary disabled" data-toggle="modal" data-target="#inscripcion">Proximamente</button>
               {% endif %}
  {% else %}
   <h1>Resultados</h1>
               <div class="col-md-4"></div>
               <div class="col-md-4">
                   {% if rundata.results_general %}
                   <a target="_blank" href="{{ MEDIA_URL }}{{rundata.results_general}}" class="btn btn-lg btn-info" >Resultados Generales</a></p>
                   {% endif %}
                   {% if rundata.results_category %}
                   <a target="_blank" href="{{ MEDIA_URL }}{{rundata.results_category}}" class="btn btn-lg btn-info" >Resultados x Categoria</a></p>
                   {% endif %}
                </div>
               <div class="col-md-4"></div>
  {% endif %}  
  </div>
</section>

<section class="venue">
  <div class="row">
    <h1>¿Dónde?</h1>
    {% if rundata.place %}
        <p class="lead">{{rundata.place}}</p>
    {% endif %}
    <div class="col-md-12 leparc">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 google-maps">
      <div id='map'></div>
    </div>
  </div>
</section>

<!-- SOCIAL
       ================================================== -->
<section class="social">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Conectá con nosotros</h2>
	<a href="https://www.facebook.com/entrenamiento.sanluis"><i class="fa fa-facebook"></i></a>
	<a href="https://twitter.com/fusionshsl"><i class="fa fa-twitter"></i></a>
      </div>
    </div>
  </div>	  
</section>

{% compress js %}
        <script src="{% static "js/modernizr-latest.js" %}"></script>
        <!-- jQuery -->
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <!-- Bootstrap -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/js/bootstrap-datepicker.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/locales/bootstrap-datepicker.es.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.5/js/bootstrap-select.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.5/js/i18n/defaults-es_CL.min.js"></script>
        <script type="text/javascript">
        $(function () {
            $('#id_birthday').datepicker({
                 language: "es",
                 autoclose: true,
                 todayHighlight: true,
             });
        });
        $(function() {
                $('#id_nationality, #id_gender, #id_distance, #id_category, #id_size').selectpicker();
        });
        </script>
{% endcompress %}

{% if rundata.state == 1 %} <script language="JavaScript" type="text/javascript" xml:space="preserve">
	var frmvalidator  = new Validator("prueba");
        frmvalidator.addValidation("id_firstname","req","Por favor ingrese su Nombre");
        frmvalidator.addValidation("id_firstname","maxlen=64",  "El Nombre tiene una longitud max. de 64 caracteres");
        frmvalidator.addValidation("id_lastname","req","Por favor ingrese su Apellido");
        frmvalidator.addValidation("id_lastname","maxlen=64","El Apellido tiene una longitud max. de 64 caracteres");
        frmvalidator.addValidation("id_email","maxlen=75", "El Email tiene una longitud max. de 75 caracteres");
        frmvalidator.addValidation("id_email","req", "Por favor ingrese su Email");
        frmvalidator.addValidation("id_email","email", "Por favor ingrese una dirección de correo electrónico");
        frmvalidator.addValidation("id_phone","maxlen=64", "El Teléfono tiene una longitud max. de 64 caracteres");
        frmvalidator.addValidation("id_phone","req", "Por favor ingrese su número de teléfono");
        frmvalidator.addValidation("id_phone","numeric","El número de teléfono solo permite caracteres numericos");
        frmvalidator.addValidation("id_emergency_contact","maxlen=64", "El Contacto de Emergencia tiene una longitud max. de 64 caracteres");
        frmvalidator.addValidation("id_emergency_contact","req", "Por favor ingrese su Contacto de Emergencia");
        frmvalidator.addValidation("id_emergency_contact","numeric", "El Contacto de Emergencia solo permite caracteres numericos");
        frmvalidator.addValidation("id_address","req", "Por favor ingrese su dirección");
        frmvalidator.addValidation("id_address","maxlen=64", "La dirección tiene una longitud max. de 64 caracteres");
        frmvalidator.addValidation("id_document","req", "Por favor ingrese su documento");
        frmvalidator.addValidation("id_document","maxlen", "El documento tiene una longitud max. de 32 caracteres");
        frmvalidator.addValidation("id_document","numeric", "El documento solo permite caracteres numericos");
</script>
{% endif %}

{% endblock %}
