{% extends "base.html" %}
{% load static %}

{% block content %}
 <header id="head" class="secondary">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h1>QUIENES SOMOS?</h1>
                </div>
            </div>
        </div>
</header>

<!-- container -->
<section class="container">
        <div class="row">
            <!-- main content -->
            <section class="col-sm-12 maincontent">
		<div class="about">
		<br />
                <p>
                    Somos una empresa que nace  en el año 2012 con la idea de promover la actividad física y salud en la ciudad de San Luis, conformada por profesionales de la actividad física: Juan Pascual, Tatiana Rios Ponce y Emmanuel Vera. 
                </p>
                <p>
                    Juan Pascual es Preparador Físico graduado en la Universidad Nacional de Cordoba, especializado en ciclismo, natación y preparación física en atletas pedestres (10 años de experiencia en el Gimnasio el Area). Actualmente en FUSION dicta clases de MTB Indoor, Entrenamiento Funcional y preparación de atletas en carreras pedestres de calle y trail.
                </p>
                <p>
                    Tatiana Rios Ponce es Profesora Nacional de Educación Física recibida en la Universidad Nacional de Rio Cuarto en el año 2009. Se ha especializado en el ámbito de la natación, y capacitado en cursos  de entrenamiento funcional, flexibilidad, entre otros realizados. Actualmente en FUSION dicta clases de Entrenamiento Funcional, MTB Indoor, realiza planes de entrenamiento en pedestrismo, y durante los meses de verano, dicta clases de Natación a niños  adultos. 
                </p>
                <p>
                    Vera Emmanuel Sebastián es Profesor Nacional de Educación Física recibido en IFDC Juan Pascual Pringles de San Luis en el año 2008 y guardavidas en el 2011. Se ha especializado en el ámbito de entrenamiento personalizado , natación y capacitado en cursos de entrenamiento funcional,  entre otros realizados. Actualmente en FUSION dicta clases de Entrenamiento Funcional, MTB Indoor, realiza planes de entrenamiento en pedestrismo, y durante los meses de verano, dicta clases de Natación.
                </p>
                <p>
                    A partir de la primer edición del programa Nuevas Empresas de Jóvenes Sanluiseños comienza a funcionar nuestra empresa “FUSION S.H.”, en el gimnasio de la Universidad Nacional de San Luis (Lavalle 956), ofreciéndole al público clases de “Entrenamiento Funcional”. Hoy en día las actividades propuestas, como así también,  nuestro número de socios ha crecido por lo que hemos incorporando nuevas clases.
                </p>
                <p>
                    En nuestro gimnasio FUSION ubicado en Lavalle 956, se ofrece clases de “Entrenamiento Funcional”, entrenamiento en Bicicleta Fija conocido como  “MTB Indoor”, trabajos de musculación y planes de entrenamiento en “Pedestrismo” (lo cual se realiza al aire libre). Durante los meses de verano además hemos propuesto clases de enseñanza de natación en pileta abierta del complejo “La Dorita”.
                </p>
                <p>
                    Año a año buscamos seguir progresando  ofreciendo  un mejor servicio, trabajando con responsabilidad, preocupándonos en el bienestar de nuestros socios y en sus necesidades, y brindando variadas actividades para así seguir sumando más público al equipo de “Fusion”.
                </p>
		<br />
                </div>
	   </section>
	</div>    
</section>
{% endblock %}

{% block menu_about %}active{% endblock %}
