{% extends "base.html" %}
{% load static %}

{% block content %}
<header id="head" class="secondary">
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<h1>ACTIVIDADES</h1>
				</div>
			</div>
		</div>
	</header>
	<div id="courses">
		<section class="container">
			<!-- <h3>Actividades</h3> -->
			<div class="row">
				<div class="col-sm-12">
					<div class="featured-box">
						<i class="fa fa-male fa-2x"></i>
						<div class="text">
							<h3>Entrenamiento Funcional</h3><br />
							<p>Es el entrenamiento que más auge ha tenido en los últimos tiempos, ya que se adapta a diversas necesidades y a personas de cualquier edad y  género, sin importar su estado físico.</p>
                            <p>Se trabaja con el propio cuerpo a través de ejercicios funcionales que buscan mejorar el estado físico general de las personas,  previniendo lesiones, preparándolos para diversos deportes o actividades, o simplemente para mejorar su salud y calidad de vida. </p>
                            <p>Los ejercicios funcionales se asemejan a los gestos deportivos o movimientos de la vida cotidiana desarrollando fuerza, potencia, velocidad, resistencia, coordinación y flexibilidad. Ayuda a prevenir lesiones mejorando nuestra postura, fortaleciendo articulaciones y músculos de la zona media del cuerpo. </p>
                            <p>Lo novedoso además son los elementos con los cuales se trabaja: balones medicinales  ,bandas elásticas, trx,  tablas de equilibrio, fitt ball, bozus, escalera de coordinación, core bag, pesa rusa, barras y discos,  y diversos materiales que hacen  a las clases mucho más variadas y divertidas. </p>
                            <p>Si querés acondicionar tu cuerpo a través de diversos ejercicios, el “Entrenamiento funcional” es una muy buena opción. </p><br />
						</div>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="featured-box">
						<i class="fa fa-bicycle fa-2x"></i>
						<div class="text">
							<h3>MTB Indoor</h3>
							<p>Si buscas tonificar piernas y glúteos, perder peso con ejercicio de bajo impacto, o complementar tu entrenamiento de bicicleta, MTB INDOOR es lo que necesitas.</p>
                            <p>Consiste en entrenamiento en bicicleta fija, acompañado por una música de fondo muy variada que incentiva la actividad. Las clases tienen una duración de 50 minutos, durante la cual se realizan trabajos de fuerza, velocidad, cambios de ritmo, y trabajos de fondo o resistencia. Se incluyen bloques de entrenamiento específico que permitirán mejorar tu performance en la bicicleta, cuando salgas a pedalear.</p>
                            <p>Nuestro programa además ofrece, finalizada esta actividad, ejercicios de fortalecimiento de la zona media del cuerpo,  durante una clase de 30 minutos. Esto permite compensar las desventajas que la mala postura de la bicicleta puede generar. MTB INDOOR es sin duda, una excelente forma de entrenar.</p>
                        </div>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="featured-box">
						<i class="fa fa-venus-mars fa-2x"></i>
						<div class="text">
							<h3>Pedestrismo</h3>
							<p>Trotar o  correr, en las calles o en las sierras, en terreno llano o en cuestas, es de lo que se trata el entrenamiento en “Pedestrismo”. </p>
                            <p>Realizamos planes de entrenamientos personalizados, los cuales tienen un seguimiento continuo, y semanalmente se realiza una salida grupal. Los alumnos son evaluados periódicamente para llegar en las mejores condiciones a las distintas metas propuestas.</p>
                            <p>Nuestro equipo de “Fusión”  ha participado en carreras en  diversos tanto en la provincia como  en distintas partes del país, obteniendo excelentes resultados, y sumando cada vez más adeptos que se animan a esta actividad teniendo o no experiencia. </p>
                            <p>En el año 2014 hemos sido los organizadores de la primera edición de la “Cross Run Expo nuevas Empresas de Fusión”, con una importante participación de más de 300 competidores de distintas partes del país. Un evento muy importante que se ha sumado a la agenda de los corredores.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="featured-box">
						<i class="fa fa-user-plus fa-2x"></i>
						<div class="text">
							<h3>Musculacion</h3>
							<p>En musculación se busca fortalecer  grupos  musculares específicos, ya sea para complementar distintas actividades, mejorar la estética, prevenir lesiones,  como así también fortalecer músculos afectados por una antigua lesión y así reinsertarse a las actividades cotidianas.</p>
                            <p>Se trabaja con máquinarias o aparatos  de los gimnasios convencionales, incorporando también elementos funcionales para optimizar así esta actividad. </p>
						</div>
					</div>
				</div>
			</div>

		</section>
	</div>

{% endblock %}

{% block menu_activities %}active{% endblock %}

